<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">Aperture</a>
    
    <!-- Toggler for offcanvas menu on smaller screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas"
      aria-controls="offcanvas"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas menu -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
          <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>

          <!-- Hiển thị nút Login/Register nếu người dùng chưa đăng nhập -->
          <ng-container *ngIf="!isLoggedIn">
            <li class="nav-item">
              <button class="btn btn-outline-light me-2" (click)="login()">Login</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light" (click)="register()">Register</button>
            </li>
          </ng-container>
          
          <!-- Hiển thị lời chào và nút Logout nếu người dùng đã đăng nhập -->
          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item">
              <span class="nav-link text-light">Xin chào, {{ userName }}</span>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light ms-2" (click)="logout()">Logout</button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</nav>
