<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<footer id="footer" class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- Footer top -->
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="footer-menu">
          <a class="navbar-brand" href="/">
            <img src="https://cdn-icons-png.freepik.com/512/17656/17656508.png" 
                 alt="logo" 
                 class="img-fluidn mb-2"
                 style="width: 15%;">
                 PC Gear
          </a>
          <p>PC Gear - Nơi để bạn thoả sức lựa chọn những đam mê.<br> Hãy đến và trải nghiệm cùng chúng tôi!</p>
          <div class="social-links">
            <ul class="d-flex list-unstyled">
              <li><a href="#" class="text-white me-3"><i class="bi bi-facebook m-2"></i></a></li>
              <li><a href="#" class="text-white me-3"><i class="bi bi-instagram m-2"></i></a></li>
              <li><a href="#" class="text-white me-3"><i class="bi bi-twitter m-2"></i></a></li>
              <li><a href="#" class="text-white me-3"><i class="bi bi-linkedin m-2"></i></a></li>
              <li><a href="#" class="text-white me-3"><i class="bi bi-youtube m-2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="footer-menu ">
          <h5 class="widget-title text-white pb-2">LIÊN KẾT NHANH</h5>
          <ul class="menu-list list-unstyled">
            <li><a href="/" class="text-white">Trang chủ</a></li>
            <li><a (click)="navigateToAbout()" class="text-white " style="cursor: pointer;">Giới thiệu</a></li>
            <li><a href="#" class="text-white">Cửa hàng</a></li>
            <li><a href="#" class="text-white">Blogs</a></li>
            <li><a href="#" class="text-white">Liên hệ</a></li>
          </ul>
        </div>
      </div>

      <!-- Help & Info -->
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="footer-menu">
          <h5 class="widget-title text-white pb-2">TRỢ GIÚP & THÔNG TIN</h5>
          <ul class="menu-list list-unstyled">
            <li><a href="#" class="text-white">Theo dõi đơn hàng của bạn</a></li>
            <li><a (click)="navigateToOrder()" class="text-white" style="cursor: pointer;">Chính sách đổi trả</a></li>
            <li><a (click)="navigateToPay()" class="text-white" style="cursor: pointer;">Chính sách thanh toán</a></li>
            <li><a href="#" class="text-white">Câu hỏi thường gặp</a></li>
          </ul>
        </div>
      </div>

      <!-- Contact Us -->
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="footer-menu">
          <h5 class="widget-title text-white text-uppercase pb-2">Contact Us</h5>
          <p>Bạn có thắc mắc hoặc góp ý gì không? <a class="text-white" href="mailto:Tandung15122003&#64;gmail.com">Tandung15122003&#64;gmail.com</a></p>
          <p class="text-white">Nếu bạn cần hỗ trợ? Hãy gọi chúng tôi. <a href="tel:+84868584834" class="text-white">+84 86 85 84 834</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr class="text-white">

  <!-- Footer Bottom -->
  <div id="footer-bottom" class="bg-dark text-white py-1">
    <div class="container">
      <div class="row">
        <!-- Shipping -->
        <div class="col-md-4 mb-3">
          <div class="shipping d-flex">
            <p class="mb-0">Chúng tôi giao hàng với:</p>
            <div class="card-wrap ps-2">
              <i class="bi bi-truck m-2"></i> <!-- Added margin to the icon -->
              <i class="bi bi-credit-card m-2"></i> <!-- Added margin to the icon -->
            </div>
          </div>
        </div>

        <!-- Payment Options -->
        <div class="col-md-4 mb-3">
          <div class="payment-method d-flex">
            <p class="mb-0">Phương thức thanh toán:</p>
            <div class="card-wrap ps-2">
              <i class="bi bi-credit-card m-2"></i> <!-- Added margin to the icon -->
              <i class="bi bi-credit-card m-2"></i> <!-- Added margin to the icon -->
              <i class="bi bi-paypal m-2"></i> <!-- Added margin to the icon -->
            </div>
          </div>
        </div>

        <!-- Copyright -->
        <div class="col-md-4 mb-3">
          <div class="copyright text-center text-md-end">
            <p class="mb-0">© Copyright 2024 PC Gear. Design by <a href="/" class="text-white">Team PC Gear</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
