<section id="order" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-4">
          <h1 class="text-uppercase">Hủy đơn, đổi trả và hoàn tiền</h1>
        </div>
        <div class="col-md-12 mb-4">
          <h2>Hủy đơn hàng</h2>
          <p>Trường hợp Quý khách muốn hủy đơn hàng, Quý khách vui lòng liên hệ đến số điện thoại Chăm sóc khách hàng: "sđt" để được hỗ trợ.</p>
        </div>
        <div class="col-md-12 mb-4">
          <h2>Đổi trả hàng</h2>  
          <p>Chúng tôi tự hào là đối tác của các thương hiệu công nghệ uy tín như Apple, Dell, Asus, HP, Lenovo và nhiều thương hiệu khác, đảm bảo cung cấp sản phẩm chính hãng, giá cả cạnh tranh và dịch vụ hậu mãi chu đáo.</p>
        </div>
        <div class="col-md-12 mb-4">
          <h2>Điều kiện để được đổi trả hàng</h2>
          <div class="col-md-12 mb-4"> 
          <h3>1. Đối với sản phẩm lỗi do Nhà sản xuất</h3>
        </div> 
        <div class="col-md-12 mb-4">  
          <li>Yêu cầu đổi trả hàng cùng với Sản Phẩm dự kiến đổi trả phải gửi đến PC Gear cùng với các tài liệu kèm theo <strong>trong vòng mười (10) ngày</strong> kể từ ngày Quý khách nhận hàng từ PC Gear <strong>(“Thời Hạn Đổi Trả”)</strong>.</li>
          <li>Sản Phẩm của Quý khách phải đảm bảo còn mới, giữ nguyên 100% tình trạng như ban đầu như khi Quý khách nhận Sản Phẩm từ PC Gear, không có dấu hiệu bị va chạm/ vào nước, không bị cấn móp, trầy xước ….</li>
          <li>Sản Phẩm dự kiến đổi trả khi gửi đến PC Gear phải được đóng gói cùng với các phụ kiện, tài liệu hướng dẫn, thẻ bảo hành và hàng tặng kèm (nếu có)… vào thùng / hộp đựng sản phẩm của nhà sản xuất, giống như tình trạng ban đầu khi Quý khách nhận hàng. Bao bì thùng hộp chứa đựng sản phẩm phải nguyên vẹn không được móp, méo hay trầy xước, ẩm ướt, rách…</li>
          <li>Sản phẩm lỗi do Nhà sản xuất là sản phẩm bị lỗi phần cứng và có biên bản xác nhận lỗi của hãng/ Nhà sản xuất, thời gian thẩm định từ 3-5 ngày.</li>
          <li>Các nhóm sản phẩm sau không được áp dụng đổi trả, chỉ được bảo hành theo chính sách hãng (*).</li>
        </div> 
        <div class="col-md-12 mb-4">
          <p>+ Sản phẩm máy tính: Máy tính bàn nguyên bộ hoặc Laptop đã thay đổi cấu hình khác so với ban đầu;</p>
          <p>+ Máy in, mực in;</p>
          <p>+ Các sản phẩm phần mềm;</p>
          <p>+ Sản phẩm Samsung: điện thoại, máy tính bảng, Galaxy Watch;</p>
          <p>+ Điện máy: Tivi, thiết bị âm thanh gia đình, máy lạnh, máy giặt, máy sấy, tủ lạnh, tủ mát, máy nước nóng;</p>
          <p>+ Điện gia dụng: Quạt điều hòa, máy hút bụi, máy lọc không khí, máy hút ẩm, máy lọc nước, cây nước nóng lạnh, bàn ủi, nồi chiên không dầu, nồi cơm điện, nồi hấp, nồi áp suất, lò nướng, lò vi sóng, bếp từ, bếp hồng ngoại, bếp gas, bình đun, bình thủy, máy xay, máy ép trái cây, máy đánh trứng, máy pha cà phê, máy rửa chén.</p>
        </div>
          
         
          <div class="col-md-12 mb-4">
            <h3>2. Đối với sản phẩm hư hỏng do vận chuyển</h3>
          </div>
          <p>- Yêu cầu đổi trả hàng cùng với Sản Phẩm dự kiến đổi trả phải gửi đến PC Gear cùng với các tài liệu kèm theo trong vòng mười (10) ngày kể từ ngày Quý khách nhận hàng từ Phong Vũ.</p>
          <p>- Quý khách vui lòng cung cấp hình ảnh cụ thể về tình trạng hàng hóa, hộp, video mở hộp để Phong Vũ kiểm tra.</p>
          <p>- Sản Phẩm dự kiến đổi trả khi gửi đến PC Gear phải được đóng gói cùng với các phụ kiện, tài liệu hướng dẫn, thẻ bảo hành và hàng tặng kèm (nếu có)… vào thùng / hộp đựng sản phẩm của nhà sản xuất, giống như tình trạng ban đầu khi Quý khách nhận hàng.</p>
          <div class="col-md-12 mb-4">
          <i><strong>Quá Thời Hạn Đổi Trả, hoặc Sản Phẩm không đáp ứng các điều kiện này sẽ không được đổi trả mà được bảo hành hoặc sửa chữa theo chính sách của Hãng/ Nhà Sản Xuất.</strong></i>
          </div>
          <h3>2. Đối với sản phẩm hư hỏng do vận chuyển</h3>
          <p>- Yêu cầu đổi trả hàng cùng với Sản Phẩm dự kiến đổi trả phải gửi đến PC Gear cùng với các tài liệu kèm theo trong vòng mười (10) ngày kể từ ngày Quý khách nhận hàng từ Phong Vũ.</p>
          <p>- Quý khách vui lòng cung cấp hình ảnh cụ thể về tình trạng hàng hóa, hộp, video mở hộp để Phong Vũ kiểm tra.</p>
          <p>- Sản Phẩm dự kiến đổi trả khi gửi đến PC Gear phải được đóng gói cùng với các phụ kiện, tài liệu hướng dẫn, thẻ bảo hành và hàng tặng kèm (nếu có)… vào thùng / hộp đựng sản phẩm của nhà sản xuất, giống như tình trạng ban đầu khi Quý khách nhận hàng.</p>
          <div class="col-md-12 mb-4">
          <i><strong>Quá Thời Hạn Đổi Trả, hoặc Sản Phẩm không đáp ứng các điều kiện này sẽ không được đổi trả mà được bảo hành hoặc sửa chữa theo chính sách của Hãng/ Nhà Sản Xuất.</strong></i>
          </div>
          <h3>3. Đối với sản phẩm giao sai hoặc thông tin sản phẩm không đúng với mô tả trên website của chúng tôi</h3>
          <p>- Yêu cầu đổi trả hàng cùng với Sản Phẩm dự kiến đổi trả phải gửi đến PC Gear cùng với các tài liệu kèm theo <strong>trong vòng mười (10) ngày</strong> kể từ ngày Quý khách nhận hàng từ PCGEAR. <strong>Quá Thời Hạn Đổi Trả, PCGEAR có quyền từ chối hỗ trợ yêu cầu đổi trả trong trường hợp này.</strong></p>
          <p>- Sản Phẩm của Quý khách phải đảm bảo còn mới, giữ nguyên 100% tình trạng như ban đầu như khi Quý khách nhận Sản Phẩm từ PC Gear, không có dấu hiệu bị va chạm/ vào nước, không bị cấn móp, trầy xước ….</p>
          <p>- Sản Phẩm dự kiến đổi trả khi gửi đến PC Gear phải được đóng gói cùng với các phụ kiện, tài liệu hướng dẫn, thẻ bảo hành và hàng tặng kèm (nếu có)… vào thùng / hộp đựng sản phẩm của nhà sản xuất, giống như tình trạng ban đầu khi Quý khách nhận hàng. Bao bì thùng hộp chứa đựng sản phẩm phải nguyên vẹn không được móp, méo hay trầy xước, ẩm ướt, rách…</p>
          <div class="col-md-12 mb-4">
          <i><strong>Nếu Sản Phẩm đổi trả không đáp ứng các điều kiện theo quy định này, Phong Vũ được quyền từ chối hỗ trợ yêu cầu đổi trả của Quý khách hàng.</strong></i>
          </div>
          <div class="col-md-12 mb-4">
            <h2>Những trường hợp không được đổi / trả hàng</h2>
          </div>
          <p>- Máy tính bàn được lắp ráp theo yêu cầu, không áp dụng đổi trả nguyên bộ, chỉ áp dụng đổi trả theo linh kiện.</p>
          <p>- Không áp dụng đổi trả đối với sản phẩm bị lỗi phần mềm, chỉ hỗ trợ xử lý khắc phục.</p>
          <p>- Sản Phẩm thanh lý, sản phẩm trưng bày hoặc thuộc chương trình giải phóng hàng tồn kho, bỏ mẫu.</p>
          <p>- Sản phẩm có ghi chú là sản phẩm không được đổi trả trên website của chúng tôi hoặc tại thông tin giới thiệu sản phẩm ở Cửa hàng.</p>
          <p>- Sản phẩm lỗi do người sử dụng: sản phẩm bị lỗi phát sinh trong quá trình sử dụng do người sử dụng, ví dụ: Sản phẩm bị cấn móp do rơi rớt, va chạm, sản phẩm bị vào nước, sử dụng không đúng hướng dẫn của nhà sản xuất …</p>
          <p>- Sản phẩm không được đổi/trả theo quy định của Nhà sản xuất.</p>
          <p>- Mất hộp, rách hộp, vỏ hộp móp méo, mất phụ kiện.</p>
          <p>- Các sản phẩm thuộc “Danh sách sản phẩm không được áp dụng đổi trả, chỉ được bảo hành theo chính sách hãng” thuộc mục (*)</p>
          </div>
          <div class="col-md-12 mb-4">
            <h2>Cách thức đổi trả hàng</h2>
          </div>
            <p>- Khách hàng mua hàng online, kênh bán hàng qua điện thoại hoặc trường hợp khác vui lòng liên hệ PC Gear số "sđt" để được hướng dẫn.</p>
            <p>- Khách hàng mua hàng trực tiếp tại Cửa hàng, vui lòng mang sản phẩm trực tiếp đến Cửa hàng đã mua để được hỗ trợ.</p>
          
          <div class="col-md-12 mb-4">
            <h2>Đổi trả hàng đối với các sản phẩm thuộc chương trình bán hàng đặc biệt</h2>
          </div>
            <div class="col-md-12 mb-4">
            <i><strong>Bundle</strong></i>
          </div>
            <p>- Bundle (sản phẩm đóng gói chung) thỏa mãn các điều kiện đổi trả trên đây sẽ được đổi trả riêng từng sản phẩm cùng loại hoặc sản phẩm có giá trị tương đương.</p>
            <div class="col-md-12 mb-4">
            <i><strong>Combos and Kits</strong></i>
          </div>
            <p>- Combo và Kits là gói có từ hai sản phẩm trở lên và phải mua cùng nhau để được giảm giá hơn so với mua lẻ từng sản phẩm (được chiết khấu). </p>
            <p>- Combos hoặc Kits thỏa mãn điều kiện đổi trả trên đây có thể được đổi trả riêng từng sản phẩm cùng loại hoặc sản phẩm có giá trị tương đương.</p>
            <div class="col-md-12 mb-4">
            <i><strong>Hàng khuyến mãi của nhà sản xuất hoặc Phong Vũ</strong></i>
          </div>
          <p>Nhà sản xuất hoặc Phong Vũ có thể tặng kèm một số hàng khuyến mãi đi kèm với sản phẩm. Khi đổi trả hàng, hàng khuyến mại sẽ được xử lý như sau:</p>
          <p>- Trường hợp, đổi sản phẩm mới cùng loại với sản phẩm đã mua ban đầu, Quý khách sẽ giữ lại hàng khuyến mại đã nhận từ sản phẩm đã mua, PC Gear chỉ thực hiện việc đổi sản phẩm đã mua (không cung cấp thêm hàng khuyến mại).</p>
          <p>- Trường hợp, đổi sản phẩm mới không cùng loại, khác sản phẩm ban đầu, Quý khách cần hoàn trả toàn bộ hàng khuyến mãi đã nhận của sản phẩm trước cho PC Gear. </p>
          <p>- Trường hợp, hàng khuyến mãi tặng kèm bị lỗi sẽ được đổi lại hàng khuyến mãi, không đổi sản phẩm chính, trường hợp không còn hàng khuyến mãi cùng loại, Phong Vũ sẽ đổi hàng khuyến mãi loại khác có giá trị tương đương.</p>
          <div class="col-md-12 mb-4">
            <h2>Giới hạn trách nhiệm</h2>
          </div>
          <p>- PC Gear chỉ tư vấn và cung cấp thông tin sản phẩm, Khách hàng tự lựa chọn sản phẩm và tự chịu trách nhiệm về quyết định mua hàng của mình.</p>
          <p>- Khách hàng cần quay video quá trình mở sản phẩm khi nhận hàng.</p>
        </div>
        <div class="col-md-12 mb-4">
          <h2>Chính sách hoàn tiền</h2>
        </div>
        <div class="col-md-12 mb-4">
          <i><strong>Quy định chung</strong></i>
        </div>
        <p>- Phong Vũ sẽ hoàn trả lại số tiền Khách hàng đã thanh toán sau khi xác nhận hoàn thành việc xử lý đổi/trả hàng của Khách hàng.</p>
        <div class="col-md-12 mb-4">
          <i><strong>Phương thức hoàn tiền</strong></i>
        </div>
        <p>- Khách hàng sẽ được hoàn tiền theo đúng phương thức đã thanh toán với Phong Vũ khi mua hàng.</p>
        <div class="col-md-12 mb-4">
          <i><strong>Thời gian hoàn tiền đối với từng phương thức</strong></i>
        </div>
        <table border="1" cellpadding="10" cellspacing="0">
          <tr>
            <th><strong>Phương thức thanh toán</strong></th>
            <th><strong>Phương thức hoàn tiền</strong></th>
            <th><strong>Thời gian thực hiện hoàn tiền</strong></th>
          </tr>
          <tr>
            <td>Tiền mặt</td>
            <td>Tiền mặt</td>
            <td>Ngay khi Khách tới Cửa hàng của chúng tôi</td>
          </tr>
          <tr>
            <td>Quẹt thẻ qua máy POS</td>
            <td>
              <p>Hoàn tiền vào tài khoản thẻ thanh toán</p>
              <p>thanh toán</p>
            </td>
            <td>7 - 10 ngày làm việc</td>
          </tr>
          <tr>
            <td>VNPAY QR code</td>
            <td>
              <p>Hoàn tiền vào tài khoản</p>
              <p>Ngân hàng thanh toán</p>
            </td>
            <td>1 - 3 ngày làm việc</td>
          </tr>
          <tr>
            <td><p>Thanh toán qua cổng thanh toán</p> 

              <p>online trên website Phong Vũ</p></td>
            <td>
              <p>Hoàn tiền vào tài khoản thẻ</p> 

              <p>thanh toán</p>
            </td>
            <td>7 - 10 ngày làm việc</td>
          </tr>
          <tr>
            <td>Thanh toán trả góp</td>
            <td>Không áp dụng hoàn tiền</td>
            <td></td>
          </tr>
        </table>
        <h1 class="text-uppercase">___________________________________________________________</h1>
    </div>
  </section>
  