<div class="d-flex justify-content-between">
  <!-- Carousel -->
  <div id="carouselExampleAutoplay" class="carousel slide col-9" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let banner of banners; let i = index">
        <div *ngIf="banner.active" class="carousel-item" [ngClass]="{'active': i === 0}">
          <img [src]="banner.img" style="height: 900px; width: 1400px;" alt="...">
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
      </div>
    </div>
    

    <!-- Controls (optional) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplay" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplay" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>


  </div>
  <div class="d-flex flex-column ms-3 col-3 ">
    <img src="//theme.hstatic.net/1000333506/1001120678/14/right_banner_1.jpg?v=641" alt="Image 1"
      class="img-fluid mb-2">
    <img src="//theme.hstatic.net/1000333506/1001120678/14/bottom_banner_1.jpg?v=641" alt="Image 1"
      class="img-fluid mb-2">
    <img src="//theme.hstatic.net/1000333506/1001120678/14/bottom_banner_3.jpg?v=641" alt="Image 1" class="img-fluid">
  </div>
</div>


<section id="company-services" class="py-5">
  <div class="container">
    <div class="row text-center">
      <!-- Free delivery -->
      <div class="col-lg-3 col-md-6 pb-4">
        <div class="icon-box d-flex flex-column align-items-center">
          <div class="icon-box-icon mb-3">
            <svg class="cart-outline" width="50" height="50">
              <use xlink:href="#cart-outline" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title text-uppercase text-dark" style="font-weight: normal;">
              <i class="bi bi-truck"></i> <!-- Biểu tượng xe tải cho Free delivery -->
              Miễn Phí Vận Chuyển
            </h4>
            <p class="text-muted">Miễn phí vận chuyển trong bán kính 15km.</p>
          </div>
        </div>
      </div>

      <!-- Quality guarantee -->
      <div class="col-lg-3 col-md-6 pb-4">
        <div class="icon-box d-flex flex-column align-items-center">
          <div class="icon-box-icon mb-3">
            <svg class="quality" width="50" height="50">
              <use xlink:href="#quality" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title text-uppercase text-dark" style="font-weight: normal;">
              <i class="bi bi-shield-lock"></i> <!-- Biểu tượng bảo vệ cho Quality guarantee -->
              Đảm bảo chất lượng
            </h4>
            <p class="text-muted">Chất lượng hàng hoá đảm bảo chính hãng.</p>
          </div>
        </div>
      </div>

      <!-- Daily offers -->
      <div class="col-lg-3 col-md-6 pb-4">
        <div class="icon-box d-flex flex-column align-items-center">
          <div class="icon-box-icon mb-3">
            <svg class="price-tag" width="50" height="50">
              <use xlink:href="#price-tag" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title text-uppercase text-dark" style="font-weight: normal;">
              <i class="bi bi-gift"></i> <!-- Biểu tượng quà tặng cho Daily offers -->
              Ưu đãi hàng ngày
            </h4>
            <p class="text-muted">Mỗi ngày một ưu đãi mới.</p>
          </div>
        </div>
      </div>

      <!-- Secure payment -->
      <div class="col-lg-3 col-md-6 pb-4">
        <div class="icon-box d-flex flex-column align-items-center">
          <div class="icon-box-icon mb-3">
            <svg class="shield-plus" width="50" height="50">
              <use xlink:href="#shield-plus" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h4 class="card-title text-uppercase text-dark" style="font-weight: normal;">
              <i class="bi bi-credit-card"></i> <!-- Biểu tượng thẻ tín dụng cho Secure payment -->
              Thanh toán an toàn
            </h4>
            <p class="text-muted">Đảm bảo thanh toán an toàn 100% </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-product></app-product>

<app-category></app-category>