<!-- shopping-cart.component.html -->
<div class="container py-5">
    <div class="row">
      <div class="col-12">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-5">
              <h3 style="font-weight: bold;">Giỏ hàng của bạn</h3>
              <h4 *ngIf="cartService.count > 0" class="text-muted">
                Bạn đang có {{ cartService.count }} sản phẩm trong giỏ hàng
              </h4>
              <span id="error-message" style="color: red; font-weight: bold;"></span>
  
              <div class="row" *ngIf="cartService.count > 0">
                <div class="col-md-9">
                  <input type="checkbox" [(ngModel)]="checkAllItems" (change)="checkAllItems()">
                  <label for="">Chọn tất cả</label>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger" *ngIf="checkAll" (click)="cartService.clear()">Xóa tất cả</button>
                </div>
              </div>
            </div>
  
            <hr>
  
            <div *ngFor="let item of cartService.items; let i = index" class="row mb-4">
              <div class="col-md-1">
                <input type="checkbox" [(ngModel)]="item.checked">
              </div>
              <div class="col-md-2">
                <img [src]="cartService.url(item.image1)" width="90" height="70" alt="Product Image">
              </div>
              <div class="col-md-3">
                <h6>{{ item.name }}</h6>
                <p style="color: red;">Giá: {{ item.price | number }} VNĐ</p>
              </div>
              <div class="col-md-3 d-flex">
                <button class="btn btn-link" (click)="cartService.decreaseQuantity(item)">-</button>
                <input type="number" [(ngModel)]="item.qty" [min]="1" [max]="item.quantity" class="form-control" readonly>
                <button class="btn btn-link" (click)="cartService.increaseQuantity(item)">+</button>
              </div>
              <div class="col-md-2">
                <h6>{{ (item.qty * item.price) | number }} VNĐ</h6>
              </div>
              <div class="col-md-1 text-end">
                <button (click)="cartService.remove(item.id)" class="btn btn-danger">X</button>
              </div>
            </div>
  
            <div *ngIf="cartService.count === 0">
              <p style="text-align: center;">Bạn chưa có sản phẩm nào trong giỏ hàng!</p>
            </div>
  
            <hr>
  
            <div class="d-flex justify-content-end">
              <div class="me-3">
                <h6 class="fs-4">Tổng tiền: {{ getTotalAmount() | number }} VNĐ</h6>
                <button class="btn btn-primary" [disabled]="!hasCheckedItems()">Thanh toán</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  